<?xml version="1.0"?>
<launch>
  <!-- Kakao API Debug Launch File -->
  <!-- 초기 위치: 35.846171, 127.134468 -->

  <!-- 시뮬레이터: GPS 발행 노드 -->
  <node pkg="kakao_api" type="gps_publisher.py" name="gps_publisher" output="screen"/>

  <!-- Kakao API 메인 노드들 실행 -->
  <include file="$(find kakao_api)/launch/kakao_api.launch"/>

  <!-- RViz 실행 -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find kakao_api)/rviz/kakao.rviz"/>

</launch>
