<launch>

  <rosparam command="load" file="$(find ins)/params/ins_faster_lio.yaml" />

  <!-- Local EKF (odom frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <remap from="odometry/filtered" to="/local/odom"/>
  </node>

  <!-- Global EKF (map frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="/global/odom"/>
  </node>

  <!-- GPS to Odometry converter -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="gps/fix" to="/ublox/fix"/>
    <remap from="odometry/filtered" to="/local/odom"/>
    
    <remap from="odometry/gps" to="/map_frame/gps"/>
  </node>

</launch>