<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- GPS 드라이버 -->
  <include file="$(find ublox_gps)/launch/ublox_device.launch">
    <arg name="node_name" value="ublox_gps"/>
    <arg name="param_file_name" value="zed-f9p"/>
    <arg name="output" value="screen"/>
    <arg name="respawn" value="true"/>
    <arg name="respawn_delay" value="30"/>
    <arg name="clear_params" value="false"/>
  </include>

  <!-- NTRIP 클라이언트 (보정 데이터 수신) -->
  <node pkg="ntrip_ros" type="ntrip_ros_node" name="ntrip_client" output="screen">
    <param name="host" value="YOUR_NTRIP_SERVER"/>
    <param name="port" value="2101"/>
    <param name="username" value="YOUR_USERNAME"/>
    <param name="password" value="YOUR_PASSWORD"/>
    <param name="mountpoint" value="YOUR_MOUNTPOINT"/>
    <remap from="rtcm" to="/ublox_gps/rtcm"/>
  </node>
</launch>
