<?xml version="1.0"?>
<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 1) Husky 추가 -->
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />

  <!-- 2) OS1-64 LiDAR 추가 -->
  <xacro:include filename="$(find dwa)/urdf/OS1-32.urdf.xacro"/>
  <xacro:OS1-32
    parent="top_chassis_link"
    name="ouster"
    topic_points="/ouster/points"
    topic_imu="/ouster/imu"
    hz="10"
    lasers="32"
    samples="512"
    min_range="0.1"
    max_range="50.0"
    noise="0.008"
    lidar_link="os1_lidar"
    imu_link="os1_imu"
    vfov_min="-.26"
    vfov_max=".26">
    <origin xyz="0.2 0 0.4" rpy="0 0 0"/>
  </xacro:OS1-32>

  <!-- 3) GPS 추가 -->
  <!-- <xacro:include filename="$(find dwa)/urdf/gps_sensor.urdf.xacro"/> -->

  <!-- 4) Gazebo 제어 플러그인 -->
  <gazebo>
    <!-- Husky Velocity Control Plugin -->
    <!-- ros_control과 연동하여 diff_drive_controller가 바퀴 속도 제어 -->
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>husky_gazebo_plugins/HuskyVelocityControlPlugin</robotSimType>
      <wheel_diameter>0.3302</wheel_diameter>
      <max_accel>5.0</max_accel>
      <max_speed>1.0</max_speed>
    </plugin>
  </gazebo>
</robot>
