<?xml version="1.0"?>
<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 1) Husky 추가 -->
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />

  <!-- 2) OS1-64 LiDAR 추가 -->
  <xacro:include filename="$(find dwa)/urdf/OS1-32.urdf.xacro"/>
  <xacro:OS1-32
    parent="top_chassis_link"
    name="ouster"
    topic_points="/ouster/points"
    topic_imu="/ouster/imu"
    hz="10"
    lasers="32"
    samples="512"
    min_range="0.1"
    max_range="50.0"
    noise="0.008"
    lidar_link="os1_lidar"
    imu_link="os1_imu"
    vfov_min="-.26"
    vfov_max=".26">
    <origin xyz="0.2 0 0.4" rpy="0 0 0"/>
  </xacro:OS1-32>

  <!-- 3) GPS 추가 -->
  <!-- <xacro:include filename="$(find dwa)/urdf/gps_sensor.urdf.xacro"/> -->
  
  <!-- Gazebo 플러그인 포함 -->
  <!-- <xacro:include filename="$(find dwa)/urdf/custom_description.gazebo.xacro"/> -->
</robot>
