<?xml version="1.0"?>
<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 1) Husky 추가 -->
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />

  <!-- 2) OS1-32 LiDAR 추가 -->
  <xacro:include filename="$(find robot_description)/urdf/OS1-32.urdf.xacro"/>
  <xacro:OS1-32 parent="top_plate_link">
    <!-- front_wheel 쪽으로 이동 + 60cm 위로 -->
    <origin xyz="0.3 0.0 0.6" rpy="0 0 0"/>
  </xacro:OS1-32>

  <!-- 3) GPS 추가 -->
  <xacro:include filename="$(find robot_description)/urdf/gps.urdf.xacro"/>

  <!-- 4) Husky Differential Drive Plugin (Custom) -->
  <gazebo>
    <plugin name="husky_diff_drive" filename="libhusky_gazebo_plugin.so">
      <!-- Wheel joints -->
      <leftFrontJoint>front_left_wheel</leftFrontJoint>
      <leftRearJoint>rear_left_wheel</leftRearJoint>
      <rightFrontJoint>front_right_wheel</rightFrontJoint>
      <rightRearJoint>rear_right_wheel</rightRearJoint>

      <!-- Robot physical parameters (실제 허스키와 동일) -->
      <wheelSeparation>0.5708</wheelSeparation>
      <wheelDiameter>0.3302</wheelDiameter>

      <!-- Update rate -->
      <updateRate>50.0</updateRate>

      <!-- Topics -->
      <commandTopic>husky_velocity_controller/cmd_vel</commandTopic>
      <odometryTopic>husky_velocity_controller/odom</odometryTopic>

      <!-- Frames -->
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>

      <!-- Publish odom TF: false (robot_localization이 발행) -->
      <publishOdomTF>false</publishOdomTF>
    </plugin>
  </gazebo>
</robot>
