<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GPS Link -->
  <link name="gps_link">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0"
               iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 0.05"/>
      </geometry>
      <material name="gps_red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- GPS Joint: top_plate_link에서 60cm 위로 -->
  <joint name="gps_joint" type="fixed">
    <origin xyz="0.0 0.0 0.4" rpy="0 0 0"/>
    <parent link="top_plate_link"/>
    <child link="gps_link"/>
  </joint>

  <!-- Gazebo GPS material -->
  <gazebo reference="gps_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <!-- Gazebo GPS Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
      <updateRate>10.0</updateRate>
      <bodyName>gps_link</bodyName>
      <frameId>gps_link</frameId>
      <topicName>/gazebo_time/gps</topicName>
      <velocityTopicName>/ublox/fix_velocity</velocityTopicName>
      <referenceLatitude>35.846171</referenceLatitude>
      <referenceLongitude>127.134468</referenceLongitude>
      <referenceHeading>0.0</referenceHeading>
      <referenceAltitude>100.0</referenceAltitude>
      <drift>0.001 0.001 0.001</drift>
      <gaussianNoise>0.01 0.01 0.01</gaussianNoise>
      <velocityDrift>0.001 0.001 0.001</velocityDrift>
      <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>
      <verbose>false</verbose>
    </plugin>
  </gazebo>
 

</robot>
