<?xml version="1.0"?>
<launch>
  <!-- Gazebo 시작 -->
  <!-- GPU 가속화-->
  <env name="CUDA_VISIBLE_DEVICES" value="0"/>
  <env name="GAZEBO_GPU_RAY" value="1"/>
  <env name="SVGA_VGPU10" value="0"/>
  <!-- 환경 변수 설정 -->
  <env name="HUSKY_LMS1XX_ENABLED" value="false"/>
  <env name="HUSKY_UR5_ENABLED" value="false"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find husky_custom_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find husky_custom_gazebo)/worlds/citysim_gazebo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- 직접 husky_description과 velodyne 설정 로드 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_custom_description)/urdf/custom_description_ouster_gps.urdf.xacro'" />
  
  <!-- 로봇 스폰-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        output = "screen"
        args="-urdf -model husky -param robot_description -z 1" /> 

  <!-- RViz 시작 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_custom_gazebo)/rviz/husky_ouster_gps.rviz" />
  
</launch>